@inherits LayoutComponentBase

<div style="display: flex; flex-direction: column; align-items: center;">

    <!-- Header Section -->
    <div style="display: flex; align-items: center;">
        <div>
            <img src="images/spinningball.gif" style="width: 75px; height: 75px;" />
        </div>
        <div style="margin-left: 5px;">
            <a href="/">
                <h1>NBA Bets</h1>
            </a>
        </div>
    </div>
    <div>
        <a href="/bets" style="background-color: #016fcd; color: white; border-radius: 10px; padding: 10px 20px; display: inline-block; text-decoration: none;">
            Check Your Bets
        </a>
    </div>

    <!-- Body Content Section -->
    <div style="width: auto;">
        <div class="content">
            <article id="article">
                @Body
            </article>
        </div>
        <FluentToastProvider @rendermode="RenderMode.InteractiveServer" />
        <FluentDialogProvider @rendermode="RenderMode.InteractiveServer" />
    </div>

    <!-- Footer Section -->
    <div>
        <div class="link1">
            Created by James Martin
        </div>
        <div class="link2" style="text-align:center">
            <a href="https://github.com/sibeyzoran/NBABets" target="_blank">GitHub</a>
        </div>
    </div>

</div>


